/*Style choices*/

*{
    --selective-yellow: #ffb703ff;
    --tangerine: #fb8500ff;
    --cornsilk: #fefae0ff;
    --ivory: #f8f6e7;
}
/*Style choices END*/

/* Main page layout */

main {
    max-width: 550px;
    margin: auto;
}

/* Main page END */

/* Sections */


#post-feed-container {
    background-color: var(--tangerine);
    display: block;
    box-shadow: 10px 7px 17px rgba(0, 0, 0, 0.369), 10px 7px 17px rgba(0, 0, 0, 0.369);

    padding: 40px;
    border: 15px solid;
    border-radius: 100px;
    border-color: var(--ivory);
    margin: 30px;
  

}

/* Sections END*/

/* FEED */

#post-feed {
    display: flex;
    flex-direction: column;

}


#post-feed li {
    background-color: var(--selective-yellow);
    box-shadow: 10px 7px 5px rgb(203, 108, 0);


    border-radius: 100px;
    padding: 60px;
    margin: 40px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 25% 50%;
    grid-template-areas:
        "username"
        "text"
        "image";
    justify-content: center;
    justify-items: center;
    align-items: center;

}



/* FEED END*/
