/*Style choices*/

*{
    --selective-yellow: #ffb703ff;
    --tangerine: #fb8500ff;
    --cornsilk: #fefae0ff;
    --ivory: #f8f6e7;
}
/*Style choices END*/

/* Main page layout */

main {
    max-width: 450px;
    margin: auto;
}

/* Main page END */

/* Sections */

#post-submit-container {
    /* position: fixed; */
}

#post-feed-container {
    background-color: var(--tangerine);
    display: block;

    padding: 40px;
    border: 15px solid;
    border-color: var(--ivory);
    margin: 30px;

}

/* Sections END*/

/* FEED */

#post-feed {
    display: flex;
    flex-direction: column;


}

#post-feed li {
    background-color: var(--selective-yellow);
    padding: 60px;
    margin: 40px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 25% 50%;
    grid-template-areas:
        "username-span"
        "text-span"
        "image-span";
    align-items: center;

}



/* FEED END*/
