*{
    --selective-yellow: #ffb703ff;
    --tangerine: #fb8500ff;
    --cornsilk: #fefae0ff;
    --ivory: #f8f6e7;
}

:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100%;
    padding-bottom: 30px;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    background-image: url(../assets/pictures/a-basket-of-eggs.jpg);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

header img {
    height: 64px;
}

#user {
    flex-grow: 2;
    margin-right: 20px;
    text-align: right;
    display: grid;
}

#user a {
    font-size: .8em;
    color:steelblue;
}

.hidden {
    display: none;
}

main {
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    
}
